body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: red;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
}
ul.menu{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #;
  
}

li.menu{
  float:left;
}

li a.menu{
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: red;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}